# NYU-CUSP Principles of Urban Informatics 2017 final

## READ THE [README](README.md) AND THE [RULES](https://github.com/fedhere/PUI2017_fb55/blob/master/final/PUI2017final_RULES.ipynb) FIRST! **


There are [hints](https://docs.google.com/document/d/1lXM07wQsbxXKfCbWYP6RJlDqFOl0E1LWWzLVJ0bEmAM/edit?usp=sharing) and further details on the data in [PUI2017final_DATA](https://github.com/fedhere/PUI2017_fb55/blob/master/final/PUI2017final_DATA.ipynb) 

**Motivation:**

The study of NYC crime is of broad interest in the Urban Science scene, and NYPD has provided statistics on the crime (by precinct) for several years. This is an important resource to understand and analyze urban crime. There are obvious connections between crime and wealth, which relate both to access to precious goods (opportunity), and to how easy it is to commit a crime (the neighborhood safety, or perceived safety). [It has been suggested](https://journalistsresource.org/studies/government/criminal-justice/unemployment-property-crime-burglary) that unemployment correlates strongly with burglary for example, due to both opportunity and motivation. In addition there are [several pieces of research](https://www.citylab.com/solutions/2016/04/vacant-lots-green-space-crime-research-statistics/476040/) that indicate that access to green spaces affects crime.

In this final you should explore and model NYC crime:

- The first part of the exam is an exploratory analysis of the crime time series for the seven major felonies 2000-2016 (temporal domain).

- The second part of the exam attempts to relate socioeconomic features to individual crime rates by area (spatial domain).

- Lastly, if you wish, in the extra credit, you can aggregate the socioeconomic features that I indicated at the precinct level: percentage of unemployment and median income, that natively come at the census tract level from the census bureau API, and green area, for which you can use the NYC parks shapefile.


There are [hints](https://docs.google.com/document/d/1lXM07wQsbxXKfCbWYP6RJlDqFOl0E1LWWzLVJ0bEmAM/edit?usp=sharing), and partially processed datasets. Look for them. As in the midterm you can access the partially processed datasets (only one in this case) and go back to the processing task at a later time. If you then provide your own processing of the data you will be given points accordingly.

# 1. Time domain exploratory analysis

## 1.1 obtain historical data for 2000-2016 for all NYC police precincts
you can obtain the data from NYC.gov it should be an excel file called seven-major-felony-offenses-by-precinct-2000-2016.xls

In [52]:
crime.head(3)

,PCT,CRIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,MURDER & NON NEGL. MANSLAUGHTER ...,3.0,1.0,2.0,2.0,2.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,RAPE,12.0,5.0,10.0,11.0,11.0,5.0,4.0,7.0,12.0,4.0,6.0,13.0,10.0,12.0,8.0,7.0,9.0
2,1,ROBBERY,252.0,188.0,210.0,164.0,154.0,172.0,119.0,128.0,108.0,106.0,96.0,102.0,81.0,68.0,50.0,79.0,60.0

In [53]:
crime.tail(3)

,PCT,CRIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
633,"5. On Sept. 28, 2012, there was a re-alignment...",TOTAL SEVEN MAJOR FELONY OFFENSES,636.0,514.0,495.0,467.0,464.0,570.0,475.0,496.0,515.0,414.0,371.0,413.0,396.0,378.0,413.0,379.0,509.0
634,6. The 121 pct was created on 7-1-2013 from pa...,TOTAL SEVEN MAJOR FELONY OFFENSES,636.0,514.0,495.0,467.0,464.0,570.0,475.0,496.0,515.0,414.0,371.0,413.0,396.0,378.0,413.0,379.0,509.0
635,7. As of 1-1-2014 complaints occurring within ...,TOTAL SEVEN MAJOR FELONY OFFENSES,636.0,514.0,495.0,467.0,464.0,570.0,475.0,496.0,515.0,414.0,371.0,413.0,396.0,378.0,413.0,379.0,509.0

In [54]:
crime.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000
mean,630.188679,554.213836,527.141509,499.028302,483.877358,466.738994,441.257862,417.588050,408.408805,367.578616,361.676101,368.927673,386.603774,361.996855,343.396226,338.764151,329.465409
std,886.138426,790.743142,739.370608,697.085017,675.478938,638.157402,602.084727,571.483049,556.479626,505.148518,495.912139,504.452529,533.872234,509.611397,489.177964,482.938947,473.514493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,75.500000,70.500000,74.500000,61.750000,56.750000,54.000000,43.500000,43.750000,42.250000,36.000000,35.000000,34.000000,33.000000,29.750000,28.750000,29.750000,28.000000
50%,361.000000,315.500000,305.500000,277.500000,279.000000,275.500000,254.000000,228.000000,222.500000,208.000000,196.500000,200.500000,205.000000,177.000000,169.500000,163.500000,141.500000
75%,648.250000,581.000000,561.500000,524.750000,496.250000,514.250000,475.000000,475.000000,460.000000,414.000000,396.250000,413.000000,435.000000,415.000000,413.000000,379.000000,425.250000
max,6857.000000,6088.000000,5265.000000,5105.000000,4730.000000,4423.000000,4173.000000,3971.000000,3708.000000,3330.000000,3103.000000,3393.000000,3780.000000,3902.000000,3751.000000,3506.000000,3287.000000

## 1.2 remove outliers (likely wrongly input data)


In the data there may be outliers. With the data version I downloaded and the processing up to the point where I got I had an obvious one (extremely large for all crimes). If there are outliers remove them and also decide what to do with missing data

In [56]:
#the tail of your DF should look like this: 
#remove rows that are not for a precinct (all precincts are identified by numbers)
crime.tail(3)

,PCT,CRIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
613,123,GRAND LARCENY,101.0,90.0,116.0,137.0,166.0,233.0,175.0,181.0,191.0,171.0,147.0,175.0,183.0,171.0,194.0,163.0,145.0
614,123,GRAND LARCENY OF MOTOR VEHICLE ...,266.0,193.0,143.0,131.0,95.0,96.0,114.0,87.0,81.0,51.0,39.0,48.0,31.0,40.0,30.0,20.0,23.0
615,123,TOTAL SEVEN MAJOR FELONY OFFENSES,636.0,514.0,495.0,467.0,464.0,570.0,475.0,496.0,515.0,414.0,371.0,413.0,396.0,378.0,378.0,348.0,302.0

## 1.3  Plot the time series for each of the seven major felonies and for the total (aggregation of all felonies). 
There is a lot of data to plot. See the hints on how to get the time series to plot for the dataframe if you want to, or extract the data and plot with pylab. But be thoughtful about how you organize the display of information.
This will help you spot the wrong rows if you do it before the outlier rejection (that is how I realized there was an outlier). Make sure your plot shows the clean dataset though.

## 1.4 calculate the mean and standard deviation in time for each precinct and each crime

### EC1 - you can do a quantitative analysis of these time series (trends, periodicity etc.). But I recommend you only do it after you proceed to the other mandatory tasks.

## 1.5 extract the total crime row for each precinct and cluster the time series. Plot the clusters and discuss the clustering and the trends that you see. 
(as done in HW10 and 11, see [tips on clustering](https://github.com/fedhere/PUI2017_fb55/blob/master/final/preprocessinANDclustering.ipynb))
I am not looking for a particularly rigorous clustering analysis here, so you do not need to obsess over the right number of clusters for example, or the exact density for DBscan. However, once the clusters are done, visualize them, and make sure that they are convincing clusters that do display homogeneous trends that are different for the different clusters.

In [65]:
totcrime.head(3)

,PCT,CRIME,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,crimemean,stdev
7,1,TOTAL SEVEN MAJOR FELONY OFFENSES,3438.0,3069.0,2715.0,2649.0,2383.0,2305.0,2013.0,1914.0,...,1578.0,1445.0,1402.0,1416.0,1416.0,1208.0,1446.0,1395.0,1970.588235,674.856379
15,5,TOTAL SEVEN MAJOR FELONY OFFENSES,1780.0,1458.0,1309.0,1231.0,1170.0,1131.0,1040.0,1031.0,...,975.0,969.0,962.0,1001.0,980.0,870.0,917.0,899.0,1103.058824,233.630443
23,6,TOTAL SEVEN MAJOR FELONY OFFENSES,2387.0,2141.0,2059.0,2068.0,2174.0,2055.0,1979.0,1837.0,...,1633.0,1530.0,1504.0,1574.0,1703.0,1575.0,1521.0,1388.0,1815.647059,294.198900

# Part 2: connecting the temporal and spatial components.
## 2.1 obtain the NYC precincts geometry and read it in as a shapefile           
(see [the data tips](https://github.com/fedhere/PUI2017_fb55/blob/master/final/PUI2017final_DATA.ipynb))

## 2.2 merge the precincts geodataframe with the dataframe of crime that you used to cluster the time series and plot a choropleth of the clusters. 
Discuss if you see spatial coherence - does the geographical information help interpret the trends you see in time domain?

### EC2 visualize each crime by precinct. here you can choose the visual display that you prefer, but not a time series plot (like you did before) or a coropleth (like you will do later). It could be a box and whiskers plot for example

## 2.3 download the data containing the socioeconomic features to be used as exogenous variables. 
I prepared a file with socioeconomic features for each precinct: unemployed fraction, median income, fraction of the precinct area that is green. Dowload it from https://nyu.carto.com via sql (HW 7) ( ideally only extracting the relevant columns). The source sql is  'https://fb55.carto.com:443/api/v2/sql?q=' , the name of the file  *nycsocioeconomicsbyprecinct*

In [4]:
socioeconomics.head()

   precinct     green   medianincome  unemployment
0         1  0.058702  124092.068749      0.021444
1        60  0.173512   35015.008703      0.056448
2        61  0.238375   65998.923662      0.055458
3        63  0.158530   33655.205265      0.031215
4        24  0.166040  113966.467973      0.043461

## 2.4 *pivot* the crime dataframe so that you have a dataframe with precinct on the index and each crime type on the columns 
This task may be the most unfamiliar. look at the hints for an example on how to do it. If this fails you can download the pivoted file [here](https://github.com/fedhere/PUI2017_fb55/blob/master/final/crimepivoted.csv)

In [82]:
crimepivot.head()

CRIME,BURGLARY,FELONY ASSAULT,GRAND LARCENY,GRAND LARCENY OF MOTOR VEHICLE,MURDER & NON NEGL. MANSLAUGHTER,RAPE,ROBBERY,TOTAL SEVEN MAJOR FELONY OFFENSES
PCT,,,,,,,,
1,242.176471,104.882353,1406.705882,81.470588,1.058824,8.588235,125.705882,1970.588235
5,152.941176,130.941176,616.823529,45.882353,1.882353,7.529412,147.058824,1103.058824
6,225.588235,114.352941,1183.000000,82.117647,1.294118,9.470588,199.823529,1815.647059
7,108.176471,124.411765,317.352941,74.117647,2.588235,10.705882,172.000000,809.352941
9,247.882353,169.647059,833.176471,89.529412,2.294118,15.470588,208.764706,1566.764706

## 2.5 merge the dataframe with the socioeconomic data with the pivoted crime data,  and merge the precinct geodataframe with it. plot a choropleth of each of the 7 felonies, plus the total crime by precinct
clean up your data so that the only columns left are the 7 felonies, the total number of felonies, and the socioeconomic features (unemployment, median income, park access). I recommend you rename the crime features: the dataframes have very annoying white spaces encoded in them. See the hints file to remove them.

## 2.6 cluster the data first using the socioeconomic features and then using the 7 felonies 
You can use a simple Euclidean distance, since these are all numerical features, which is the default for most packages, or define your distance. if you do that, which would be exciting, please justify your distance definition. Mind the preprocessing! Do the clusters make sense?, is the grouping preserved? are the outliers outliers in both clustering schemes?

## 2.7 At last, create a function that for a target variable input generates a model based on median income (medianincome), green area (green), and unemployed fraction (unemployment), and returns some parameter of model quality and the most important feature in the model. The function should also print or otherwise report whether the feature is statistically significant. Run this function four times to predict BURGLARY, RAPE, MURDER, and TOTAL CRIME

I want this to be a function:

        def predictCrime(...):
            ...
            return importance,quality
    
You can run the function with all the precincts, or with the clusters you created above, but discuss the pros and cons of each scheme. You can use any model. I am ok with multi linear regression, but consider other options: trees, SVM, whatever you have explored in PUI, in other classes, in the EC project. I am not looking for a rigorous assessment. If you use statsmodels for regression you can pull any of the diagnostics in the model.summary() (any of the *appropriate* ones). If you use a machine learning method you can assess via cross validation, seeing how much the score changes between test and training sample. Keep in mind that am definitely more interested in the discussion than in the creation of a "good" model. 

**Discuss explicitly which features are important to predict what**

# Extra Credit 

I decided to add this as the conversation kept getting pushed toward details of spatial joins during the final reviews. If this all was easy, recreate the percentage of green area in a precinct, the unemployment rate by precinct, and the median income by precinct.

you will need:
a shapefile for the NYC parks which you can access from the https://data.cityofnewyork.us/. With the overlay function get the area of the green spaces contained in a precinct. 
I only selectted the following park subcategories. 

selectedParks = ['Community Park', 'Recreation Field/Courts', 'Triangle/Plaza',
       'Garden', 'Neighborhood Park', 'Nature Area', 'Waterfront Facility',
       'Historic House Park', 'Playground', 
       'Flagship Park', 
       'Jointly Operated Playground', 'Managed Sites']


A census tract shapefile is also accessible through the NYC open data portal or http://www1.nyc.gov/site/planning/data-maps/open-data.page
    
Overlay the census tract and precinct geometries (geopandas.overlay) to get the fraction of each tract in a precinct. This will allow you to create a weighted average of the unemployment percentage and median income.

You will need tree features from the American Community Survey which you can find on American Fact Finder.   
If, as they should, these are accessed through the API your API link should begin with https://api.census.gov/ (e.g. [5 year ACS](https://www.census.gov/data/developers/data-sets/acs-5year.html))

- the 2015  5 year ACS survey unemployment data by census tract (the total number of individuals is available through the API at the census tract geometry aggregation level. 

- the 2015  5 year ACS survey total count of people by census tract (to generate the unemployment percentage).

- the 2015  5 year ACS survey median income by census tract.

Some precinct geometries will fail, and likely will report that the operation is not doable with MultiPolygons. These operations are actually doable with MultyPolygons, but some of the precincts have non valid geometries. For those you can use the convex hull (pctshp.geometry.map(lambda x: x.convex_hull)) to get the intersection, with some loss (is the loss in accuracy or precision?)